*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
}

header h2{
    padding-left: 15px;
    font-size: 30px;
    padding-left: 20px;
}